<h1>New revenue</h1>

<%= form_for @revenue, :html => {multipart: true} do |f| %>
  <p>
    <label>Purchases file</label>
    <%= f.file_field :purchases_file %>
  </p>
  <%= submit_tag 'submit' %>
<% end %>

<%= link_to 'Back', revenues_path %>
